<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" -->

<mapper namespace="com.xxx.boot.mapperInterface.ListMapper">
    <select id="AllList" resultType="com.xxx.boot.dto.ListDTO">
        select * from list
    </select>



</mapper>
