<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- PUBLIC "-//mybatis.org//DTD mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" -->

<mapper namespace="com.xxx.boot.mapperInterface.UserMapper">
    
    <!-- 유저 정보를 가져오는 sql문 -->
    <select id="getUserById" parameterType="String" resultType="com.xxx.boot.security.CostomUserDetail">
        select *
        from tb_user
        where 1 = 1
        AND user_name = #{username}
    </select>




</mapper>
